[package]
name = "darwinia-elections-phragmen"
version = "0.5.9"
authors = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME election pallet for PHRAGMEN"
edition = "2018"
license = "GPL-3.0"
homepage = "https://darwinia.network/"
repository = "https://github.com/darwinia-network/darwinia/"

[dependencies]
# crates
codec = { package = "parity-scale-codec", version = "1.3.0", default-features = false }
serde = { version = "1.0.106", optional = true }
# darwinia
darwinia-support = { default-features = false, path = "../support" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-alpha.darwinia.8" }
frame-system = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-alpha.darwinia.8" }
sp-phragmen = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-alpha.darwinia.8" }
sp-runtime = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-alpha.darwinia.8" }
sp-std = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-alpha.darwinia.8" }

[dev-dependencies]
# crates
hex-literal = { version = "0.2.1" }
# darwinia
darwinia-balances = { path = "../balances" }
# substrate
sp-core = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-alpha.darwinia.8" }
sp-io = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-alpha.darwinia.8" }
substrate-test-utils = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-alpha.darwinia.8" }

[features]
default = ["std"]
std = [
	# crates
	"codec/std",
	"serde",
	# darwinia
	"darwinia-support/std",
	# substrate
	"frame-support/std",
	"frame-system/std",
	"sp-phragmen/std",
	"sp-runtime/std",
	"sp-std/std",
]
runtime-benchmarks = [
	# substrate
	"frame-support/runtime-benchmarks"
]
