[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME pallet to back Ethereum assets"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-ethereum-backing"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.3.0"

[dependencies]
# crates
array-bytes = { version = "1.0.0" }
codec       = { package = "parity-scale-codec", version = "1.3.6", default-features = false, features = ["derive"] }
serde       = { version = "1.0.123", optional = true }
serde_json  = { version = "1.0.62", optional = true }
# darwinia
darwinia-relay-primitives = { default-features = false, path = "../../../../primitives/relay" }
darwinia-support          = { default-features = false, path = "../../../support" }
ethereum-primitives       = { default-features = false, path = "../../../../primitives/ethereum-primitives" }
# github
ethabi = { default-features = false, git = "https://github.com/darwinia-network/ethabi.git", branch = "with_no_std" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
frame-system  = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-io         = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-runtime    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-std        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }

[dev-dependencies]
# darwinia
darwinia-balances              = { path = "../../../../frame/balances" }
darwinia-ethereum-linear-relay = { path = "../linear-relay" }
darwinia-ethereum-relay        = { features = ["deserialize"], path = "../relay" }
darwinia-relay-primitives      = { path = "../../../../primitives/relay" }
darwinia-relayer-game          = { path = "../../relayer-game" }
darwinia-staking               = { path = "../../../../frame/staking" }
ethereum-primitives            = { features = ["deserialize"], path = "../../../../primitives/ethereum-primitives" }
# github
rlp = { package = "rlp", git = "https://github.com/darwinia-network/parity-common.git" }
# substrate
pallet-session   = { git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
pallet-timestamp = { git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-core          = { git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-staking       = { git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"github-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"serde",
	"serde_json",
]
darwinia-std  = [
	"darwinia-relay-primitives/std",
	"darwinia-support/std",
	"ethereum-primitives/std",
]
github-std    = ["ethabi/std"]
substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]
