[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME pallet to back Ethereum assets"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-ethereum-backing"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.5.0"

[dependencies]
# crates
array-bytes = { version = "1.3.3" }
codec       = { package = "parity-scale-codec", version = "2.1.1", default-features = false, features = ["derive"] }
log         = { version = "0.4.14" }
serde       = { version = "1.0.126", optional = true }
serde_json  = { version = "1.0.64", optional = true }
# darwinia
darwinia-relay-primitives = { default-features = false, path = "../../../../primitives/relay" }
darwinia-support          = { default-features = false, path = "../../../support" }
ethabi                    = { default-features = false, git = "https://github.com/darwinia-network/ethabi", branch = "xavier-no-std" }
ethereum-primitives       = { default-features = false, path = "../../../../primitives/ethereum-primitives" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "s2s" }
frame-system  = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "s2s" }
sp-io         = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "s2s" }
sp-runtime    = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "s2s" }
sp-std        = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "s2s" }

[dev-dependencies]
# darwinia
darwinia-balances              = { path = "../../../../frame/balances" }
darwinia-ethereum-linear-relay = { path = "../linear-relay" }
darwinia-ethereum-relay        = { features = ["deserialize"], path = "../relay" }
darwinia-relay-primitives      = { path = "../../../../primitives/relay" }
darwinia-relayer-game          = { path = "../../relayer-game" }
darwinia-staking               = { path = "../../../../frame/staking" }
ethereum-primitives            = { features = ["deserialize"], path = "../../../../primitives/ethereum-primitives" }
# github
rlp = { version = "0.5.0" }
# substrate
frame-election-provider-support = { git = "https://github.com/darwinia-network/substrate", branch = "s2s" }
pallet-session                  = { git = "https://github.com/darwinia-network/substrate", branch = "s2s" }
pallet-timestamp                = { git = "https://github.com/darwinia-network/substrate", branch = "s2s" }
sp-core                         = { git = "https://github.com/darwinia-network/substrate", branch = "s2s" }
sp-staking                      = { git = "https://github.com/darwinia-network/substrate", branch = "s2s" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"serde",
	"serde_json",
]
darwinia-std  = [
	"darwinia-relay-primitives/std",
	"darwinia-support/std",
	"ethabi/std",
	"ethereum-primitives/std",
]
substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]

try-runtime = [
	"frame-support/try-runtime",
]
