# System
.DS_Store

# Integrated Development Environment
.idea
.vscode

# Package Manager
## cargo
target
## npm
node_modules

# Test Data
## Pangolin Local Testnet
tests/pangolin-local-testnet/data
tests/pangolin-local-testnet/log
