language: rust
rust: nightly

branches:
  only:
    - master

env:
  global:
    - RUST_BACKTRACE=1

before_install:
  # Check how much space we've got on this machine.
  - df -h
  - rustup target add wasm32-unknown-unknown --toolchain nightly

jobs:
  include:
    - stage: Check & Prepare
      script: .maintain/ci/fmt_script.sh

    - stage: Build
      env: RUST_TOOLCHAIN=nightly TARGET=native
      script: .maintain/ci/build_script.sh

    - stage: Build
      env: RUST_TOOLCHAIN=nightly TARGET=wasm
      script: .maintain/ci/build_script.sh

    - stage: Darwinia Test
      env: Balances RUST_TOOLCHAIN=nightly TARGET=native
      script: .maintain/ci/darwinia_test_script.sh balances

    - stage: Darwinia Test
      env: STAKING RUST_TOOLCHAIN=nightly TARGET=native
      script: .maintain/ci/darwinia_test_script.sh staking

    - stage: Darwinia Test
      env: TREASURY RUST_TOOLCHAIN=nightly TARGET=native
      script: .maintain/ci/darwinia_test_script.sh treasury

    - stage: Darwinia Test
      env: ETHRELAY RUST_TOOLCHAIN=nightly TARGET=native
      script: .maintain/ci/darwinia_test_script.sh eth-relay

    - stage: Darwinia Test
      env: ETHBACKING RUST_TOOLCHAIN=nightly TARGET=native
      script: .maintain/ci/darwinia_test_script.sh eth-backing

    - stage: Darwinia Test
      env: HEADERMMR RUST_TOOLCHAIN=nightly TARGET=native
      script: .maintain/ci/darwinia_test_script.sh header-mmr

    # There are some dead code caused by conditional compilation in test,
    # so the warning is suppresed
    - stage: Darwinia Test
      env: ETHOFFCHAIN RUST_TOOLCHAIN=nightly TARGET=native RUSTFLAGS=-Awarnings
      script: .maintain/ci/darwinia_test_script.sh eth-offchain

    - stage: Darwinia Test
      env: CLAIMS RUST_TOOLCHAIN=nightly TARGET=native
      script: .maintain/ci/darwinia_test_script.sh claims

    # over the time limitation, so we comment this
    # - stage: Overall Test
    #   env: RUST_TOOLCHAIN=nightly TARGET=native
    #   script: .maintain/ci/test_script.sh

after_script:
  # Check how much free disk space left after the build
  - df -h
