[workspace]
members = [
	"frame/balances",
	"frame/claims",
	"frame/chainrelay/eth/backing",
	"frame/chainrelay/eth/relay",
	"frame/chainrelay/eth/offchain",
	"frame/elections-phragmen",
	"frame/header-mmr",
	"frame/staking",
	"frame/support",
	"frame/treasury",
	"frame/vesting",
	"primitives/ethash",
	"primitives/eth-primitives",
	"primitives/merkle-patricia-trie",
	"primitives/phragmen",
]

[profile.release]
panic = "unwind"
