[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Mapping sync logic for dvm."
edition     = "2021"
homepage    = "https://darwinia.network"
license     = "GPL-3.0"
name        = "dc-mapping-sync"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common"
version     = "2.7.2"

[dependencies]
# crates.io
futures       = { version = "0.3", features = ["compat"] }
futures-timer = { version = "3.0" }
log           = { version = "0.4" }
# darwinia-network
dc-db               = { path = "../db" }
dp-consensus        = { path = "../../../primitives/consensus/" }
dvm-rpc-runtime-api = { path = "../../../frame/dvm/rpc/runtime-api" }
# paritytech
sc-client-api = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.12.0" }
sp-api        = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.12.0" }
sp-blockchain = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.12.0" }
sp-runtime    = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.12.0" }
