[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Mapping sync logic for dvm."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "dc-mapping-sync"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.6.3"

[dependencies]
# paritytech
sc-client-api = { git = "https://github.com/darwinia-network/substrate", branch = "main" }
sp-api        = { git = "https://github.com/darwinia-network/substrate", branch = "main" }
sp-blockchain = { git = "https://github.com/darwinia-network/substrate", branch = "main" }
sp-runtime    = { git = "https://github.com/darwinia-network/substrate", branch = "main" }
# darwinia-network
dc-db               = { path = "../db" }
dp-consensus        = { path = "../../../primitives/consensus/" }
dvm-rpc-runtime-api = { path = "../../../frame/dvm/rpc/runtime-api" }
# crates.io
futures       = { version = "0.3.1", features = ["compat"] }
futures-timer = "3.0.1"
log           = "0.4.8"
