[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "DRML Node Service"
edition     = "2021"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "drml-service"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.7.1"

[dependencies]
# crates.io
array-bytes = { version = "1.4" }
codec       = { package = "parity-scale-codec", version = "2.1" }
futures     = { version = "0.3" }
log         = { version = "0.4" }
rand        = { version = "0.8" }
serde       = { version = "1.0", features = ["derive"] }
serde_json  = { version = "1.0" }
# darwinia-network
darwinia-balances-rpc-runtime-api   = { path = "../../frame/balances/rpc/runtime-api" }
darwinia-bridge-ethereum            = { path = "../../frame/bridge/ethereum" }
darwinia-claims                     = { path = "../../frame/claims" }
darwinia-evm                        = { path = "../../frame/evm" }
darwinia-fee-market-rpc-runtime-api = { path = "../../frame/fee-market/rpc/runtime-api" }
darwinia-header-mmr-rpc-runtime-api = { path = "../../frame/header-mmr/rpc/runtime-api" }
darwinia-staking                    = { path = "../../frame/staking" }
darwinia-staking-rpc-runtime-api    = { path = "../../frame/staking/rpc/runtime-api" }
dc-db                               = { path = "../../client/dvm/db" }
dc-mapping-sync                     = { path = "../../client/dvm/mapping-sync" }
dc-rpc                              = { path = "../../client/dvm/rpc", features = ["rpc_binary_search_estimate"] }
dp-rpc                              = { path = "../../primitives/rpc" }
drml-common-primitives              = { path = "../primitives/common" }
drml-rpc                            = { path = "../rpc" }
dvm-rpc-runtime-api                 = { path = "../../frame/dvm/rpc/runtime-api" }
pangolin-runtime                    = { path = "../runtime/pangolin" }
pangoro-runtime                     = { path = "../runtime/pangoro" }
# trace
tokio                      = { version = "0.2.21", features = [ "macros", "sync" ] }
jsonrpc-core               = { version = "15.0.0" }
jsonrpc-pubsub             = { version = "15.0.0" }
dc-tracing-debug-handler   = { path = "../../client/dvm/evm-tracing/rpc/debug" }
dc-tracing-trace-handler   = { path = "../../client/dvm/evm-tracing/rpc/trace" }
dc-tracing-rpc-core-debug  = { path = "../../client/dvm/evm-tracing/rpc-core/debug" }
dp-evm-trace-apis          = { path = "../../primitives/evm/trace/apis" }
dp-evm-trace-ext           = { path = "../../primitives/evm/trace/ext" }
sc-rpc                     = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }

# paritytech
frame-benchmarking                         = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
frame-system-rpc-runtime-api               = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
pallet-im-online                           = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-authority-discovery                     = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-basic-authorship                        = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-chain-spec                              = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-client-api                              = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-consensus                               = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-consensus-babe                          = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-consensus-slots                         = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-consensus-uncles                        = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-executor                                = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-finality-grandpa                        = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-keystore                                = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-network                                 = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-service                                 = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-sync-state-rpc                          = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-telemetry                               = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-transaction-pool                        = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-api                                     = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-authority-discovery                     = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-authorship                              = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-block-builder                           = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-blockchain                              = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-consensus                               = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-consensus-babe                          = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-core                                    = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-finality-grandpa                        = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-offchain                                = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-runtime                                 = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-session                                 = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-timestamp                               = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-transaction-pool                        = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-trie                                    = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
substrate-prometheus-endpoint              = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
# template
async-trait              = { version = "0.1", optional = true }
sc-consensus-aura        = { optional = true, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-consensus-manual-seal = { optional = true, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-consensus-aura        = { optional = true, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-inherents             = { optional = true, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
template-runtime         = { optional = true, path = "../runtime/template" }


[features]
default = [
	"db",
	"full-node",
]

db = ["sc-service/db"]

full-node = []

template = [
	"drml-rpc/template",
	"async-trait",
	"sc-consensus-aura",
	"sc-consensus-manual-seal",
	"sp-consensus-aura",
	"sp-inherents",
	"template-runtime",
]

evm-tracing = [
	"pangolin-runtime/evm-tracing",
]

runtime-benchmarks = ["pangolin-runtime/runtime-benchmarks"]

try-runtime = [
	"pangolin-runtime/try-runtime",
	"pangoro-runtime/try-runtime",
]
