[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Runtime API definition required by header-mmr RPC extensions."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-header-mmr-rpc-runtime-api"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.5.0"

[dependencies]
# crates
codec = { package = "parity-scale-codec", version = "2.1.1", default-features = false, features = ["derive"] }
serde = { version = "1.0.126", optional = true, features = ["derive"] }
# darwinia
darwinia-support = { default-features = false, path = "../../../support" }
# substrate
sp-api     = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.1" }
sp-runtime = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.1" }
sp-std     = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.1" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"serde",
]
darwinia-std  = ["darwinia-support/std"]
substrate-std = [
	"sp-api/std",
	"sp-runtime/std",
	"sp-std/std",
]
