[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME pallet staking"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-staking"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.0.0-alpha.1"

[dependencies]
# crates
codec             = { package = "parity-scale-codec", version = "1.3.4", default-features = false, features = ["derive"] }
num-integer       = { version = "0.1.43", default-features = false }
rand_chacha       = { version = "0.2", default-features = false, optional = true }
serde             = { version = "1.0.115", optional = true }
static_assertions = { version = "1.1.0" }
# darwinia
darwinia-staking-rpc-runtime-api = { default-features = false, path = "./rpc/runtime-api" }
darwinia-support                 = { default-features = false, path = "../support" }
# substrate
frame-support     = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
frame-system      = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
pallet-authorship = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
pallet-session    = { default-features = false, features = ["historical"], git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
sp-core           = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
sp-io             = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
sp-npos-elections = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
sp-runtime        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
sp-staking        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
sp-std            = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }

[dev-dependencies]
# crates
env_logger  = "0.7.1"
rand_chacha = { version = "0.2" }
# darwinia
darwinia-balances = { path = "../../frame/balances" }
darwinia-support  = { features = ["easy-testing"], path = "../support" }
# substrate
pallet-timestamp     = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
sp-storage           = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
substrate-test-utils = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"num-integer/std",
	"serde",
]
darwinia-std  = [
	"darwinia-staking-rpc-runtime-api/std",
	"darwinia-support/std",
]
substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"pallet-authorship/std",
	"pallet-session/std",
	"sp-core/std",
	"sp-io/std",
	"sp-npos-elections/std",
	"sp-runtime/std",
	"sp-staking/std",
	"sp-std/std",
]
