[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME pallet staking"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-staking"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.1.0"

[dependencies]
# crates
codec             = { package = "parity-scale-codec", version = "2.0.1", default-features = false, features = ["derive"] }
log               = { version = "0.4.14" }
serde             = { version = "1.0.124", optional = true }
static_assertions = { version = "1.1.0" }
# darwinia
darwinia-staking-rpc-runtime-api = { default-features = false, path = "./rpc/runtime-api" }
darwinia-support                 = { default-features = false, path = "../support" }
# github
substrate-fixed = { default-features = false, git = "https://github.com/encointer/substrate-fixed", branch = "master" }
# substrate
frame-election-provider-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
frame-support                   = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
frame-system                    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
pallet-authorship               = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
pallet-session                  = { default-features = false, features = ["historical"], git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
sp-arithmetic                   = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
sp-core                         = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
sp-io                           = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
# TWO_PHASE_NOTE:: ideally we should be able to get rid of this.
sp-npos-elections = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
sp-runtime        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
sp-staking        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
sp-std            = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }

[dev-dependencies]
# crates
rand_chacha = { version = "0.3.0" }
# darwinia
darwinia-balances = { path = "../../frame/balances" }
darwinia-support  = { features = ["easy-testing"], path = "../support" }
# substrate
pallet-timestamp     = { git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
sp-storage           = { git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
sp-tracing           = { git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }
substrate-test-utils = { git = "https://github.com/darwinia-network/substrate.git", tag = "rococo-v1.2" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"github-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"serde",
]
darwinia-std  = [
	"darwinia-staking-rpc-runtime-api/std",
	"darwinia-support/std",
]
github-std    = ["substrate-fixed/std"]
substrate-std = [
	"frame-election-provider-support/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-authorship/std",
	"pallet-session/std",
	"sp-arithmetic/std",
	"sp-core/std",
	"sp-io/std",
	"sp-npos-elections/std",
	"sp-runtime/std",
	"sp-staking/std",
	"sp-std/std",
]
