[package]
name = "darwinia-staking"
version = "0.5.1"
authors = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME pallet staking"
edition = "2018"
license = "GPL-3.0"
homepage = "https://darwinia.network/"
repository = "https://github.com/darwinia-network/darwinia/"

[dependencies]
# crates
codec = { package = "parity-scale-codec", version = "1.3.0", default-features = false, features = ["derive"] }
rand_chacha = { version = "0.2", default-features = false, optional = true }
serde = { version = "1.0.105", optional = true }
# darwinia
darwinia-phragmen = { default-features = false, path = "../../primitives/phragmen" }
darwinia-support = { default-features = false, path = "../support" }
# substrate
frame-benchmarking = { default-features = false, optional = true, git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }
frame-system = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }
pallet-authorship = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }
pallet-session = { default-features = false, features = ["historical"], git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }
sp-core = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }
sp-io = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }
sp-runtime = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }
sp-staking = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }
sp-std = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }

[dev-dependencies]
# crates
rand_chacha = { version = "0.2" }
# darwinia
darwinia-balances = { path = "../../frame/balances" }
darwinia-support = { features = ["easy-testing"], path = "../support" }
# substrate
frame-benchmarking = { git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }
pallet-timestamp = { git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }
substrate-test-utils = { git = "https://github.com/darwinia-network/substrate.git", tag = "ci-release-2.0.0-alpha.5+6" }

[features]
default = ["equalize", "std"]
equalize = []
migrate = []
std = [
	# crates
	"codec/std",
	"serde",
	# darwinia
	"darwinia-phragmen/std",
	"darwinia-support/std",
	# substrate
	"frame-support/std",
	"frame-system/std",
	"pallet-authorship/std",
	"pallet-session/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-staking/std",
	"sp-std/std",
]
runtime-benchmarks = [
	# crates
	"rand_chacha",
	# substrate
	"frame-benchmarking",
	"frame-system/runtime-benchmarks",
]
