[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "DRML Node RPC"
edition     = "2021"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "drml-rpc"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.7.1"

[dependencies]
# crates.io
jsonrpc-core   = { version = "15.1" }
jsonrpc-pubsub = { version = "15.1" }
# darwinia-network
darwinia-balances-rpc   = { path = "../../frame/balances/rpc" }
darwinia-fee-market-rpc = { path = "../../frame/fee-market/rpc" }
darwinia-header-mmr-rpc = { path = "../../frame/header-mmr/rpc" }
darwinia-staking-rpc    = { path = "../../frame/staking/rpc" }
dc-db                   = { path = "../../client/dvm/db" }
dc-rpc                  = { path = "../../client/dvm/rpc", features = ["rpc_binary_search_estimate"] }
dp-evm-trace-apis       = { path = "../../primitives/evm/trace/apis" }
dp-rpc                  = { path = "../../primitives/rpc" }
drml-common-primitives  = { path = "../primitives/common" }
dvm-ethereum            = { path = "../../frame/dvm" }
dvm-rpc-runtime-api     = { path = "../../frame/dvm/rpc/runtime-api" }
pangolin-runtime        = { path = "../runtime/pangolin" }
# paritytech
pallet-transaction-payment-rpc = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-chain-spec                  = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-client-api                  = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-consensus-babe              = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-consensus-babe-rpc          = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-consensus-epochs            = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-finality-grandpa            = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-finality-grandpa-rpc        = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-network                     = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-rpc                         = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-sync-state-rpc              = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-transaction-pool-api        = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-api                         = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-block-builder               = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-blockchain                  = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-consensus                   = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-keystore                    = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-runtime                     = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
substrate-frame-rpc-system     = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
# template
futures                  = { version = "0.3", optional = true }
sc-consensus-manual-seal = { optional = true, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
template-runtime         = { optional = true, path = "../runtime/template" }

[features]
template = [
	"futures",
	"sc-consensus-manual-seal",
	"template-runtime",
]
