[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
build       = "build.rs"
description = "Darwinia Runtime Module Library Node"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "drml"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.0.10"

# TODO: Consider rename this repo to darwinia-runtime-module-library
[[bin]]
name = "drml"

[dependencies]
# crates
codec          = { package = "parity-scale-codec", version = "1.3.5" }
futures        = { version = "0.3.8" }
jsonrpc-core   = { version = "15.1.0" }
jsonrpc-pubsub = { version = "15.1.0" }
log            = { version = "0.4.13" }
structopt      = { version = "0.3.21" }
tokio          = { version = "0.3.6", optional = true, features = ["rt-multi-thread"] }
# darwinia
array-bytes                         = { path = "../../../primitives/array-bytes" }
darwinia-balances-rpc               = { path = "../../../frame/balances/rpc" }
darwinia-balances-rpc-runtime-api   = { path = "../../../frame/balances/rpc/runtime-api" }
darwinia-claims                     = { path = "../../../frame/claims" }
darwinia-cli                        = { optional = true, path = "../../../client/cli" }
darwinia-ethereum-relay             = { path = "../../../frame/bridge/ethereum/relay" }
darwinia-evm                        = { path = "../../../frame/evm" }
darwinia-header-mmr-rpc             = { path = "../../../frame/header-mmr/rpc" }
darwinia-header-mmr-rpc-runtime-api = { path = "../../../frame/header-mmr/rpc/runtime-api" }
darwinia-staking                    = { path = "../../../frame/staking" }
darwinia-staking-rpc                = { path = "../../../frame/staking/rpc" }
darwinia-staking-rpc-runtime-api    = { path = "../../../frame/staking/rpc/runtime-api" }
drml-primitives                     = { path = "../primitives" }
dvm-consensus                       = { path = "../../../client/dvm/consensus" }
dvm-rpc                             = { path = "../../../client/dvm/rpc" }
dvm-rpc-runtime-api                 = { path = "../../../frame/dvm/rpc/runtime-api" }
pangolin-runtime                    = { path = "../runtime/pangolin" }
# substrate
frame-system-rpc-runtime-api               = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
pallet-im-online                           = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
pallet-transaction-payment-rpc             = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-basic-authorship                        = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-cli                                     = { optional = true, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-client-api                              = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-consensus                               = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-consensus-babe                          = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-consensus-babe-rpc                      = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-consensus-epochs                        = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-executor                                = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-finality-grandpa                        = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-finality-grandpa-rpc                    = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-network                                 = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-rpc                                     = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-service                                 = { optional = true, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-sync-state-rpc                          = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-telemetry                               = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sc-transaction-pool                        = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-api                                     = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-authority-discovery                     = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-block-builder                           = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-blockchain                              = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-consensus                               = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-consensus-babe                          = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-core                                    = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-finality-grandpa                        = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-inherents                               = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-keystore                                = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-offchain                                = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-runtime                                 = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-session                                 = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-transaction-pool                        = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
sp-trie                                    = { features = ["memory-tracker"], git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
substrate-frame-rpc-system                 = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }
substrate-prometheus-endpoint              = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }

[build-dependencies]
# substrate
substrate-build-script-utils = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.1.0-darwinia" }

[features]
default = [
	"cli",
	"db",
	"full-node",
	"wasmtime",
]

cli       = [
	"tokio",
	"darwinia-cli",
	"sc-cli",
	"sc-service",
]
db        = ["sc-service/db"]
full-node = []
wasmtime  = ["sc-cli/wasmtime"]
