[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Primitives for Darwinia EVM trace event"
edition     = "2021"
homepage    = "https://substrate.dev"
license     = "Apache-2.0"
name        = "dp-evm-trace-events"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.7.1"


[dependencies]
# crates.io
environmental  = { version = "1.1.2", default-features = false }
ethereum       = { version = "0.9.0", default-features = false, features = ["with-codec"] }
ethereum-types = { version = "0.12.0", default-features = false }
evm            = { version = "0.30", default-features = false, features = ["with-codec"] }
evm-gasometer  = { version = "0.30", default-features = false }
evm-runtime    = { version = "0.30", default-features = false }
# paritytech
codec = { package = "parity-scale-codec", version = "2.2", default-features = false }


[features]
default = ["std"]

std = [
	# crates.io
	"environmental/std",
	"ethereum/std",
	"ethereum-types/std",
	"evm/std",
	"evm-gasometer/std",
	"evm-runtime/std",
	# paritytech
	"codec/std",
]

evm-tracing = ["evm-gasometer/tracing", "evm-runtime/tracing", "evm/tracing"]
