[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Support code for Darwinia runtime"
edition     = "2021"
homepage    = "https://darwinia.network"
license     = "GPL-3.0"
name        = "darwinia-support"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common"
version     = "2.7.2"

[dependencies]
# crates.io
codec                 = { package = "parity-scale-codec", version = "2.1", default-features = false, features = ["derive"] }
ethereum              = { version = "0.9", default-features = false, features = ["with-codec"] }
impl-trait-for-tuples = { version = "0.2" }
num-traits            = { version = "0.2", default-features = false }
sha3                  = { version = "0.9", default-features = false }
# darwinia-network
ethereum-primitives = { default-features = false, path = "../../primitives/ethereum" }
# paritytech
bp-messages   = { default-features = false, git = "https://github.com/darwinia-network/parity-bridges-common", branch = "darwinia-v0.11.8" }
bp-runtime    = { default-features = false, git = "https://github.com/darwinia-network/parity-bridges-common", branch = "darwinia-v0.11.8" }
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.8" }
frame-system  = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.8" }
sp-core       = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.8" }
sp-io         = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.8" }
sp-runtime    = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.8" }
sp-std        = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.8" }

[features]
default = ["std"]

std = [
	# crates.io
	"codec/std",
	"num-traits/std",
	"ethereum/std",
	"sha3/std",
	# darwinia-network
	"ethereum-primitives/std",
	# paritytech
	"frame-system/std",
	"frame-support/std",
	"bp-messages/std",
	"bp-runtime/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-io/std",
	"sp-std/std",
]

easy-testing = []
