[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Support code for Darwinia runtime"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-support"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.4.0"

[dependencies]
# crates
codec                 = { package = "parity-scale-codec", version = "2.1.1", default-features = false, features = ["derive"] }
ethabi                = { default-features = false, git = "https://github.com/darwinia-network/ethabi.git", branch = "xavier-no-std" }
impl-trait-for-tuples = { version = "0.2.1" }
num-traits            = { version = "0.2.14", default-features = false }
# darwinia
ethereum-primitives = { default-features = false, path = "../../primitives/ethereum-primitives" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.1" }
sp-runtime    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.1" }
sp-std        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.1" }

[dev-dependencies]
sp-core = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.1" }
array-bytes    = { version = "1.1.0" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"ethabi/std",
	"num-traits/std",
]
darwinia-std  = ["ethereum-primitives/std"]
substrate-std = [
	"frame-support/std",
	"sp-runtime/std",
	"sp-std/std",
]

easy-testing = []
