[package]
name = "darwinia-support"
version = "0.5.0"
authors = ["Darwinia Network <hello@darwinia.network>"]
description = "Support code for Darwinia runtime"
edition = "2018"
license = "GPL-3.0"
homepage = "https://darwinia.network/"
repository = "https://github.com/darwinia-network/darwinia/"

[dependencies]
# crates
codec = { package = "parity-scale-codec", version = "1.3.0", default-features = false, features = ["derive"] }
num-traits = { version = "0.2.11", default-features = false }
# substrate
frame-support = { default-features = false, git = "https://github.com/yanganto/substrate.git", branch = "offchain-insert-key" }
sp-runtime = { default-features = false, git = "https://github.com/yanganto/substrate.git", branch = "offchain-insert-key" }
sp-std = { default-features = false, git = "https://github.com/yanganto/substrate.git", branch = "offchain-insert-key" }

[features]
default = ["std"]
easy-testing = ["std"]
std = [
	# crates
	"codec/std",
	"num-traits/std",
	# substrate
	"frame-support/std",
	"sp-runtime/std",
	"sp-std/std",
]
