[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME pallet for democracy"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-democracy"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.3.0"

[dependencies]
# crates
codec = { package = "parity-scale-codec", version = "1.3.6", default-features = false, features = ["derive"] }
serde = { version = "1.0.123", optional = true, features = ["derive"] }
# darwinia
darwinia-support = { default-features = false, path = "../support" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
frame-system  = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-io         = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-runtime    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-std        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }

[dev-dependencies]
# crates
hex-literal = "0.3.1"
# darwinia
darwinia-balances = { path = "../balances" }
darwinia-support  = { features = ["easy-testing"], path = "../support" }
# substrate
pallet-scheduler     = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-core              = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-storage           = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
substrate-test-utils = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }

[features]
default = ["std"]

std = [
	"codec/std",
	"serde",
	"darwinia-support/std",
	"frame-support/std",
	"frame-system/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]
