[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Withdraw precompile for EVM pallet."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-evm-precompile"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.4.0"

[dependencies]
# darwinia
darwinia-evm-precompile-empty    = { default-features = false, path = "contracts/empty" }
darwinia-evm-precompile-issuing  = { default-features = false, path = "contracts/issuing" }
darwinia-evm-precompile-simple   = { default-features = false, path = "contracts/simple" }
darwinia-evm-precompile-transfer = { default-features = false, path = "contracts/transfer" }

[features]
default = ["std"]

std = [
	"darwinia-evm-precompile-empty/std",
	"darwinia-evm-precompile-issuing/std",
	"darwinia-evm-precompile-simple/std",
	"darwinia-evm-precompile-transfer/std",
]
