[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Withdraw precompile for EVM pallet."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-evm-precompile"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.0.0"

[dependencies]
# darwinia
darwinia-evm-precompile-empty    = { default-features = false, path = "contracts/empty" }
darwinia-evm-precompile-kton     = { default-features = false, path = "contracts/kton" }
darwinia-evm-precompile-simple   = { default-features = false, path = "contracts/simple" }
darwinia-evm-precompile-withdraw = { default-features = false, path = "contracts/withdraw" }
darwinia-evm-precompile-issuing   = { default-features = false, path = "contracts/issuing" }

[features]
default = ["std"]

std = [
	"darwinia-evm-precompile-empty/std",
	"darwinia-evm-precompile-kton/std",
	"darwinia-evm-precompile-simple/std",
	"darwinia-evm-precompile-withdraw/std",
	"darwinia-evm-precompile-issuing/std",
]
