[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "utils precompiles for EVM pallet."
edition     = "2021"
homepage    = "https://darwinia.network"
license     = "GPL-3.0"
name        = "darwinia-evm-precompile-utils-macro"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common"
version     = "2.8.5"

[lib]
proc-macro = true

[dependencies]
# crates.io
evm         = { version = "0.33", default-features = false, features = ["with-codec"] }
proc-macro2 = { version = "1.0" }
quote       = { version = "1.0" }
sha3        = { version = "0.9", default-features = false }
syn         = { version = "1.0", features = ["full", "fold", "extra-traits", "visit"] }
# paritytech
sp-std = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.12.1" }

[features]
default = ["std"]

std = [
	# crates.io
	"evm/std",
	"sha3/std",
	# paritytech
	"sp-std/std",
]
