[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "DISPATCH precompiles for EVM pallet."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-evm-precompile-util"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.4.0"


[dependencies]
# crates
log            = { version = "0.4.14" }
codec        = { package = "parity-scale-codec", version = "2.1.1", default-features = false }
darwinia-evm = { default-features = false, path = "../../../../evm" }
dp-evm       = { default-features = false, path = "../../../../../primitives/evm" }
darwinia-primitives-contract = { default-features = false, path = "../../../../../primitives/contract" }
darwinia-s2s-issuing = { default-features = false, path = "../../../../bridge/s2s/issuing" }
darwinia-relay-primitives          = { default-features = false, path = "../../../../../primitives/relay" }
evm          = { version = "0.25.0", default-features = false, features = ["with-codec"] }
sha3           = { version = "0.9.1", default-features = false }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.1" }
sp-core       = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.1" }
sp-io         = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.1" }

[features]
default = ["std"]

std = [
	"crates-std",
	"substrate-std",
]

crates-std = [
	"codec/std",
	"darwinia-evm/std",
	"dp-evm/std",
	"evm/std",
]

substrate-std = [
	"frame-support/std",
	"sp-core/std",
	"sp-io/std",
]
