[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Pallet for logging MMR into header digest"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-header-mmr"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.3.0"

[dependencies]
# crates
codec = { package = "parity-scale-codec", version = "1.3.5", default-features = false }
serde = { version = "1.0.118", optional = true }
# darwinia
darwinia-header-mmr-rpc-runtime-api = { default-features = false, path = "./rpc/runtime-api" }
darwinia-relay-primitives           = { default-features = false, path = "../../primitives/relay" }
darwinia-support                    = { default-features = false, path = "../support" }
# github
merkle-mountain-range = { package = "ckb-merkle-mountain-range", default-features = false, git = "https://github.com/darwinia-network/merkle-mountain-range.git" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", rev = "9e2d7b74742f7b1db7e09a00d423f613787d19a8" }
frame-system  = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", rev = "9e2d7b74742f7b1db7e09a00d423f613787d19a8" }
sp-runtime    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", rev = "9e2d7b74742f7b1db7e09a00d423f613787d19a8" }
sp-std        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", rev = "9e2d7b74742f7b1db7e09a00d423f613787d19a8" }

[dev-dependencies]
# crates
serde_json = { version = "1.0.61" }
# darwinia
array-bytes = { path = "../../primitives/array-bytes" }
# substrate
sp-core = { git = "https://github.com/darwinia-network/substrate.git", rev = "9e2d7b74742f7b1db7e09a00d423f613787d19a8" }
sp-io   = { git = "https://github.com/darwinia-network/substrate.git", rev = "9e2d7b74742f7b1db7e09a00d423f613787d19a8" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"github-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"serde",
]
darwinia-std  = [
	"darwinia-header-mmr-rpc-runtime-api/std",
	"darwinia-relay-primitives/std",
	"darwinia-support/std",
]
github-std    = ["merkle-mountain-range/std"]
substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"sp-runtime/std",
	"sp-std/std",
]
