[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Ethereum compatibility full block processing emulation pallet for Darwinia."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "dvm-ethereum"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.0.0"

[dependencies]
# crates
codec          = { package = "parity-scale-codec", version = "1.3.5", default-features = false }
ethereum       = { version = "0.3", default-features = false, features = ["codec"] }
ethereum-types = { version = "0.9", default-features = false }
evm            = { version = "0.17.0", default-features = false }
libsecp256k1   = { version = "0.3", default-features = false }
rlp            = { version = "0.4", default-features = false }
rustc-hex      = { version = "2.1.0", default-features = false }
serde          = { version = "1.0.117", optional = true }
sha3           = { version = "0.8", default-features = false }
# darwinia
darwinia-balances        = { default-features = false, path = "../../../frame/balances" }
darwinia-support         = { default-features = false, path = "../../../frame/support" }
dvm-consensus-primitives = { default-features = false, path = "../consensus/primitives" }
dvm-rpc-primitives       = { default-features = false, path = "../rpc/primitives" }
# substrate
frame-support    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
frame-system     = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
pallet-evm       = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
pallet-timestamp = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-core          = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-io            = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-runtime       = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-std           = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }

[dev-dependencies]
# crates
hex-literal = "0.3.1"

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"ethereum/std",
	"ethereum-types/std",
	"evm/std",
	"libsecp256k1/std",
	"rlp/std",
	"rustc-hex/std",
	"serde",
	"sha3/std",
]
darwinia-std  = [
	"darwinia-balances/std",
	"darwinia-support/std",
	"dvm-consensus-primitives/std",
	"dvm-rpc-primitives/std",
]
substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"pallet-evm/std",
	"pallet-timestamp/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]
