[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME EVM contracts pallet"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "dvm-evm"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.2.2"

[dependencies]
#crates
codec                 = { package = "parity-scale-codec", version = "1.3.4", default-features = false }
evm                   = { version = "0.17", default-features = false }
impl-trait-for-tuples = "0.1"
serde                 = { version = "1.0.101", optional = true, features = ["derive"] }
primitive-types       = { version = "0.7.0", default-features = false, features = ["rlp", "byteorder"] }
ripemd160             = { version = "0.9", default-features = false }
rlp                   = { version = "0.4", default-features = false }
sha3                  = { version = "0.8", default-features = false }
# darwinia
darwinia-balances    = { default-features = false, path = "../../../frame/balances" }
# substrate
frame-support    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
frame-system     = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
pallet-timestamp = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-core          = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-io            = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-runtime       = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-std           = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }

[dev-dependencies]
pallet-balances  = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"serde",

]
darwinia-std  = [
	"darwinia-balances/std",
]
substrate-std = [
	"evm/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-balances/std",
	"pallet-timestamp/std",
	"primitive-types/std",
	"ripemd160/std",
	"rlp/std",
	"sha3/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",

]