[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Ethereum RPC (web3) compatibility layer for Darwinia."
edition     = "2021"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "dc-rpc"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.7.1"

[dependencies]
# crates.io
array-bytes         = { version = "1.4" }
codec               = { package = "parity-scale-codec", version = "2.1" }
ethereum            = { version = "0.9", features = ["with-codec"] }
ethereum-types      = { version = "0.12" }
evm                 = { git = "https://github.com/darwinia-network/evm", branch = "darwinia"}
futures             = { version = "0.3", features = ["compat"] }
jsonrpc-core        = { version = "15.1" }
jsonrpc-core-client = { version = "15.1" }
jsonrpc-derive      = { version = "15.1" }
jsonrpc-pubsub      = { version = "15.1" }
libsecp256k1        = { version = "0.3" }
log                 = { version = "0.4" }
rand                = { version = "0.8" }
rlp                 = { version = "0.5" }
sha3                = { version = "0.9" }
tokio = { version = "0.2.21", features = ["sync", "time"] }
# darwinia-network
dc-db               = { path = "../db" }
dp-consensus        = { path = "../../../primitives/consensus/" }
dp-rpc              = { path = "../../../primitives/rpc" }
dp-storage          = { path = "../../../primitives/storage/" }
dvm-ethereum        = { path = "../../../frame/dvm" }
dvm-rpc-core        = { path = "../../../frame/dvm/rpc" }
dvm-rpc-runtime-api = { path = "../../../frame/dvm/rpc/runtime-api" }
dc-tracer           = { path = "../evm-tracing/tracer" }
dp-evm-trace-apis   = { path = "../../../primitives/evm/trace/apis" }
# paritytech
sc-client-api           = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-network              = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-rpc                  = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-service              = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sc-transaction-pool-api = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-api                  = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-blockchain           = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-io                   = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-runtime              = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-storage              = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-utils = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }
sp-block-builder = { git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.7" }

[features]
rpc_binary_search_estimate = []
