[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Ethereum RPC (web3) compatibility layer for Darwinia."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "dvm-rpc"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.4.0"

[dependencies]
# crates
codec               = { package = "parity-scale-codec", version = "1.3.7" }
ethereum            = { version = "0.6.0", features = ["with-codec"] }
ethereum-types      = { version = "0.10.0" }
futures             = { version = "0.3.13", features = ["compat"] }
jsonrpc-core        = { version = "15.1.0" }
jsonrpc-core-client = { version = "15.1.0" }
jsonrpc-derive      = { version = "15.1.0" }
jsonrpc-pubsub      = { version = "15.1.0" }
libsecp256k1        = { version = "0.3" }
log                 = { version = "0.4.14" }
rand                = { version = "0.7" }
rlp                 = { version = "0.5.0" }
sha3                = { version = "0.8" }
dc-db = { path = "../db" }
array-bytes         = { version = "1.1.0" }
# darwinia
darwinia-evm            = { path = "../../../frame/evm" }
dc_consensus           = { path = "../consensus" }
dp_consensus = { path = "../../../primitives/consensus/" }
dp-storage = { path = "../../../primitives/storage/" }
dvm-ethereum            = { path = "../../../frame/dvm" }
dvm-rpc-core            = { path = "../../../frame/dvm/rpc" }
dp-rpc = { path = "../../../primitives/rpc" }
dvm-rpc-runtime-api     = { path = "../../../frame/dvm/rpc/runtime-api" }
# substrate
sc-client-api       = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sc-network          = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sc-rpc              = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sc-service          = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-api              = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-blockchain       = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-io               = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-runtime          = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-storage          = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-transaction-pool = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }

[features]
rpc_binary_search_estimate = []
