[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Ethereum RPC (web3) compatibility layer for Darwinia."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "dvm-rpc"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.3.0"

[dependencies]
# crates
codec               = { package = "parity-scale-codec", version = "1.3.5" }
ethereum            = { version = "0.5", features = ["with-codec"] }
ethereum-types      = { version = "0.9.0" }
futures             = { version = "=0.3.8", features = ["compat"] }
jsonrpc-core        = { version = "15.1.0" }
jsonrpc-core-client = { version = "15.1.0" }
jsonrpc-derive      = { version = "15.1.0" }
jsonrpc-pubsub      = { version = "15.1.0" }
libsecp256k1        = { version = "0.3" }
log                 = { version = "0.4.13" }
rand                = { version = "0.7" }
rlp                 = { version = "0.4" }
rustc-hex           = { version = "2.1.0" }
sha3                = { version = "0.8" }
# darwinia
darwinia-evm            = { path = "../../../frame/evm" }
dvm-consensus           = { path = "../consensus" }
dvm-ethereum            = { path = "../../../frame/dvm" }
dvm-rpc-core            = { path = "../../../frame/dvm/rpc" }
dvm-rpc-core-primitives = { path = "../../../primitives/dvm-rpc-core" }
dvm-rpc-runtime-api     = { path = "../../../frame/dvm/rpc/runtime-api" }
# substrate
sc-client-api       = { git = "https://github.com/darwinia-network/substrate.git", rev = "332399d16668a6c769f1a7db154bb9ea3b50e61c" }
sc-network          = { git = "https://github.com/darwinia-network/substrate.git", rev = "332399d16668a6c769f1a7db154bb9ea3b50e61c" }
sc-rpc              = { git = "https://github.com/darwinia-network/substrate.git", rev = "332399d16668a6c769f1a7db154bb9ea3b50e61c" }
sc-service          = { git = "https://github.com/darwinia-network/substrate.git", rev = "332399d16668a6c769f1a7db154bb9ea3b50e61c" }
sp-api              = { git = "https://github.com/darwinia-network/substrate.git", rev = "332399d16668a6c769f1a7db154bb9ea3b50e61c" }
sp-blockchain       = { git = "https://github.com/darwinia-network/substrate.git", rev = "332399d16668a6c769f1a7db154bb9ea3b50e61c" }
sp-io               = { git = "https://github.com/darwinia-network/substrate.git", rev = "332399d16668a6c769f1a7db154bb9ea3b50e61c" }
sp-runtime          = { git = "https://github.com/darwinia-network/substrate.git", rev = "332399d16668a6c769f1a7db154bb9ea3b50e61c" }
sp-storage          = { git = "https://github.com/darwinia-network/substrate.git", rev = "332399d16668a6c769f1a7db154bb9ea3b50e61c" }
sp-transaction-pool = { git = "https://github.com/darwinia-network/substrate.git", rev = "332399d16668a6c769f1a7db154bb9ea3b50e61c" }

[features]
rpc_binary_search_estimate = []
