[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME to claim airdrop"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-claims"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.0.0-alpha.1"

[dependencies]
# crates
codec      = { package = "parity-scale-codec", version = "1.3.4", default-features = false, features = ["derive"] }
serde      = { version = "1.0.115", optional = true }
serde_json = { version = "1.0.57", optional = true }
# darwinia
array-bytes      = { default-features = false, path = "../../primitives/array-bytes" }
darwinia-support = { default-features = false, path = "../support" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
frame-system  = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
sp-io         = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
sp-runtime    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }
sp-std        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }

[dev-dependencies]
# crates
libsecp256k1 = { version = "0.3.5" }
tiny-keccak  = { version = "1.5.0" }
# darwinia
darwinia-balances = { path = "../balances" }
# substrate
sp-core = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-darwinia-rc5" }

[features]
default = ["std"]

std = ["crates-std", "darwinia-std", "substrate-std"]

crates-std    = [
	"codec/std",
	"serde",
	"serde_json",
]
darwinia-std  = [
	"array-bytes/std",
	"darwinia-support/std",
]
substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]
