[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME to claim airdrop"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-claims"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.0.0"

[dependencies]
# crates
array-bytes = { version = "1.1.0" }
codec       = { package = "parity-scale-codec", version = "1.3.7", default-features = false, features = ["derive"] }
serde       = { version = "1.0.124", optional = true }
serde_json  = { version = "1.0.62", optional = true }
# darwinia
darwinia-support = { default-features = false, path = "../support" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-0.9.6" }
frame-system  = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-0.9.6" }
sp-io         = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-0.9.6" }
sp-runtime    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-0.9.6" }
sp-std        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-0.9.6" }

[dev-dependencies]
# crates
libsecp256k1 = { version = "0.3.5" }
# darwinia
darwinia-balances = { path = "../balances" }
# substrate
sp-core = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-0.9.6" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"serde",
	"serde_json",
]
darwinia-std  = [
	"darwinia-support/std",
]
substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]
