[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Primitives for Darwinia EVM"
edition     = "2018"
homepage    = "https://substrate.dev"
license     = "Apache-2.0"
name        = "dp-evm"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.0.0"

[dependencies]
# crates
codec                 = { package = "parity-scale-codec", version = "1.3.7", default-features = false }
evm                   = { version = "0.23.0", default-features = false, features = ["with-codec"] }
impl-trait-for-tuples = { version = "0.2.0" }
serde                 = { version = "1.0.124", optional = true, features = ["derive"] }
# substrate
sp-core = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-std  = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }

[features]
default = ["std"]

std = [
	"crates-std",
	"substrate-std",
]

crates-std = [
	"codec/std",
	"evm/std",
	"evm/with-serde",
	"serde",
]

substrate-std = [
	"sp-core/std",
	"sp-std/std",
]
