[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "DISPATCH precompiles for EVM pallet."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-evm-precompile-dispatch"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.5.0"


[dependencies]
# crates
codec        = { package = "parity-scale-codec", version = "2.1.1", default-features = false }
darwinia-evm = { default-features = false, path = "../../../../evm" }
dp-evm       = { default-features = false, path = "../../../../../primitives/evm" }
evm          = { version = "0.25.0", default-features = false, features = ["with-codec"] }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }
sp-core       = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }
sp-io         = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }

[features]
default = ["std"]

std = [
	"crates-std",
	"substrate-std",
]

crates-std = [
	"codec/std",
	"darwinia-evm/std",
	"dp-evm/std",
	"evm/std",
]

substrate-std = [
	"frame-support/std",
	"sp-core/std",
	"sp-io/std",
]
