[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Runtime API definition required by balances RPC extensions."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-balances-rpc-runtime-api"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.2.3"

[dependencies]
# crates
codec = { package = "parity-scale-codec", version = "1.3.5", default-features = false }
serde = { version = "1.0.118", optional = true, features = ["derive"] }
# darwinia
darwinia-support = { default-features = false, path = "../../../support" }
# substrate
sp-api     = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-runtime = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"serde",
]
darwinia-std  = ["darwinia-support/std"]
substrate-std = [
	"sp-api/std",
	"sp-runtime/std",
]
