[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Consensus for darwinia dvm"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "dvm-consensus"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.3.0"

[dependencies]
# crates
codec       = { package = "parity-scale-codec", version = "1.3.7", features = ["derive"] }
derive_more = { version = "0.99.11" }
ethereum    = { version = "0.6.0", features = ["with-codec"] }
futures     = { version = "0.3.13", features = ["compat"] }
log         = { version = "0.4.13" }
# darwinia
dvm-consensus-primitives = { path = "../../../primitives/consensus/" }
# substrate
prometheus-endpoint = { package = "substrate-prometheus-endpoint", git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sc-client-api       = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-api              = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-block-builder    = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-blockchain       = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-consensus        = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-core             = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-inherents        = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-runtime          = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-timestamp        = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
