[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Withdraw precompile for EVM pallet."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-evm-precompile-kton"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.3.0"

[dependencies]
# crates
codec                   = { default-features = false, package = "parity-scale-codec", version = "1.3.6" }
darwinia-evm-primitives = { default-features = false, path = "../../../../../primitives/evm" }
ethabi                  = { default-features = false, git = "https://github.com/darwinia-network/ethabi.git", branch = "with_no_std" }
ethereum-types          = { default-features = false, git = "https://github.com/darwinia-network/parity-common.git" }
evm                     = { default-features = false, git = "https://github.com/darwinia-network/evm.git", branch = "darwinia", features = ["with-codec"] }
hex                     = { default-features = false, version = "0.4" }
ripemd160               = { default-features = false, version = "0.9" }
sha3                    = { default-features = false, version = "0.8" }
# darwinia
darwinia-evm = { default-features = false, path = "../../../" }
# substrate
frame-support    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
frame-system     = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
pallet-timestamp = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-core          = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-io            = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-runtime       = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }
sp-std           = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std = [
	"codec/std",
	"darwinia-evm-primitives/std",
	"ethabi/std",
	"ethereum-types/std",
	"evm/std",
	"ripemd160/std",
]

darwinia-std = [
	"darwinia-evm/std",
]

substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"pallet-timestamp/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]
