[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Withdraw precompile for EVM pallet."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-evm-precompile-kton"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.4.0"

[dependencies]
# crates
codec          = { package = "parity-scale-codec", version = "2.1.1", default-features = false }
ethereum-types = { version = "0.11.0", default-features = false }
evm            = { version = "0.25.0", default-features = false, features = ["with-codec"] }
hex            = { version = "0.4.3", default-features = false }
log            = { version = "0.4.14" }
ripemd160      = { version = "0.9.1", default-features = false }
sha3           = { version = "0.9.1", default-features = false }
# darwinia
darwinia-evm     = { default-features = false, path = "../../../" }
darwinia-support = { default-features = false, path = "../../.././../support" }
dp-evm           = { default-features = false, path = "../../../../../primitives/evm" }
dvm-ethereum     = { default-features = false, path = "../../.././../dvm" }
ethabi           = { default-features = false, git = "https://github.com/darwinia-network/ethabi.git", branch = "xavier-no-std" }
# substrate
frame-support    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }
frame-system     = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }
pallet-timestamp = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }
sp-core          = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }
sp-io            = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }
sp-runtime       = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }
sp-std           = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }

[dev-dependencies]
array-bytes = { version = "1.3.3" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std = [
	"codec/std",
	"ethereum-types/std",
	"evm/std",
	"hex/std",
	"ripemd160/std",
	"sha3/std",
]

darwinia-std = [
	"darwinia-evm/std",
	"darwinia-support/std",
	"dp-evm/std",
	"dvm-ethereum/std",
	"ethabi/std",
]

substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"pallet-timestamp/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]
