[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Withdraw precompile for EVM pallet."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-evm-precompile-withdraw"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.2.0"

[dependencies]
# crates
codec     = { package = "parity-scale-codec", version = "2.0.1", default-features = false }
evm       = { version = "0.25.0", features = ["with-codec"], default-features = false }
ripemd160 = { version = "0.9", default-features = false }
# darwinia
darwinia-evm     = { default-features = false, path = "../../../" }
darwinia-support = { default-features = false, path = "../../../../support" }
dp-evm           = { default-features = false, path = "../../../../../primitives/evm" }
# substrate
frame-support    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }
frame-system     = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }
pallet-timestamp = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }
sp-core          = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }
sp-io            = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }
sp-runtime       = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }
sp-std           = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std = [
	"codec/std",
	"evm/std",
	"ripemd160/std",
]

darwinia-std = [
	"darwinia-evm/std",
	"darwinia-support/std",
	"dp-evm/std",
]

substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"pallet-timestamp/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]
