[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
build       = "build.rs"
description = "FRAME pallet to linear relay Ethereum headers"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-ethereum-linear-relay"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.5.0"

[dependencies]
# crates
codec          = { package = "parity-scale-codec", version = "2.1.1", default-features = false, features = ["derive"] }
ethereum-types = { version = "0.11.0", default-features = false }
log            = { version = "0.4.14" }
rlp            = { version = "0.5.0", default-features = false }
serde          = { version = "1.0.126", optional = true }
serde_json     = { version = "1.0.64", optional = true }
# darwinia
darwinia-support    = { default-features = false, path = "../../../support" }
ethereum-primitives = { default-features = false, path = "../../../../primitives/ethereum-primitives" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }
frame-system  = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }
sp-runtime    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }
sp-std        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }

[dev-dependencies]
# crates
array-bytes = { version = "1.3.3" }
# darwinia
darwinia-balances   = { path = "../../../../frame/balances" }
ethereum-primitives = { features = ["deserialize"], path = "../../../../primitives/ethereum-primitives" }
# substrate
sp-core = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }
sp-io   = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.2" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"ethereum-types/std",
	"ethereum-types/serialize",
	"rlp/std",
	"serde",
	"serde_json",
]
darwinia-std  = [
	"darwinia-support/std",
	"ethereum-primitives/std",
]
substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"sp-runtime/std",
	"sp-std/std",
]
