[package]
name = "darwinia-ethereum-offchain"
version = "0.6.1"
authors = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME pallet to relay Ethereum header automactically"
edition = "2018"
license = "GPL-3.0"
homepage = "https://darwinia.network/"
repository = "https://github.com/darwinia-network/darwinia-common/"

[dependencies]
# crates
codec = { package = "parity-scale-codec", version = "1.3.1", default-features = false }
# darwinia
array-bytes = { default-features = false, path = "../../../../primitives/array-bytes" }
darwinia-ethereum-linear-relay = { default-features = false, path = "../linear-relay" }
darwinia-support = { default-features = false, path = "../../../../frame/support" }
ethereum-primitives = { default-features = false, path = "../../../../primitives/ethereum-primitives" }
# github
rlp = { default-features = false, git = "https://github.com/darwinia-network/parity-common.git" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }
frame-system = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }
sp-core = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }
sp-runtime = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }
sp-std = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }

[dev-dependencies]
# crates
serde_json = { version = "1.0.56" }
# darwinia
darwinia-balances = { path = "../../../../frame/balances" }
ethereum-primitives = { features = ["easy-testing"], path = "../../../../primitives/ethereum-primitives" }
# substrate
sp-core = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }
sp-io = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }

[features]
default = ["std"]
std = [
	# crates
	"codec/std",
	# darwinia
	"array-bytes/std",
	"darwinia-ethereum-linear-relay/std",
	"darwinia-support/std",
	"ethereum-primitives/std",
	# github
	"rlp/std",
	# substrate
	"frame-support/std",
	"frame-system/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-std/std",
]
