[package]
authors    = ["Darwinia Network <hello@darwinia.network>"]
build      = "build.rs"
edition    = "2018"
homepage   = "https://darwinia.network/"
license    = "Unlicense"
name       = "pangolin-runtime"
readme     = "README.md"
repository = "https://github.com/darwinia-network/darwinia-common/"
version    = "1.0.11"

[dependencies]
# crates
codec             = { package = "parity-scale-codec", version = "1.3.5", default-features = false }
serde             = { version = "1.0.123", optional = true }
smallvec          = { version = "1.6.1" }
static_assertions = { version = "1.1.0" }
# darwinia
darwinia-balances                   = { default-features = false, path = "../../../../frame/balances" }
darwinia-balances-rpc-runtime-api   = { default-features = false, path = "../../../../frame/balances/rpc/runtime-api" }
darwinia-claims                     = { default-features = false, path = "../../../../frame/claims" }
darwinia-crab-backing               = { default-features = false, path = "../../../../frame/bridge/crab/backing" }
darwinia-crab-issuing               = { default-features = false, path = "../../../../frame/bridge/crab/issuing" }
darwinia-democracy                  = { default-features = false, path = "../../../../frame/democracy" }
darwinia-elections-phragmen         = { default-features = false, path = "../../../../frame/elections-phragmen" }
darwinia-ethereum-backing           = { default-features = false, path = "../../../../frame/bridge/ethereum/backing" }
darwinia-ethereum-relay             = { default-features = false, path = "../../../../frame/bridge/ethereum/relay" }
darwinia-evm                        = { default-features = false, path = "../../../../frame/evm" }
darwinia-evm-precompile-simple      = { default-features = false, path = "../../../../frame/evm/precompile/simple" }
darwinia-header-mmr                 = { default-features = false, path = "../../../../frame/header-mmr" }
darwinia-header-mmr-rpc-runtime-api = { default-features = false, path = "../../../../frame/header-mmr/rpc/runtime-api" }
darwinia-relay-authorities          = { default-features = false, path = "../../../../frame/bridge/relay-authorities" }
darwinia-relay-primitives           = { default-features = false, path = "../../../../primitives/relay" }
darwinia-relayer-game               = { default-features = false, path = "../../../../frame/bridge/relayer-game" }
darwinia-staking                    = { default-features = false, path = "../../../../frame/staking" }
darwinia-staking-rpc-runtime-api    = { default-features = false, path = "../../../../frame/staking/rpc/runtime-api" }
darwinia-support                    = { default-features = false, path = "../../../../frame/support" }
darwinia-treasury                   = { default-features = false, path = "../../../../frame/treasury" }
darwinia-tron-backing               = { default-features = false, path = "../../../../frame/bridge/tron/backing" }
darwinia-vesting                    = { default-features = false, path = "../../../../frame/vesting" }
drml-primitives                     = { default-features = false, path = "../../primitives" }
dvm-ethereum                        = { default-features = false, path = "../../../../frame/dvm" }
dvm-rpc-runtime-api                 = { default-features = false, path = "../../../../frame/dvm/rpc/runtime-api" }
ethereum-primitives                 = { default-features = false, path = "../../../../primitives/ethereum-primitives" }
# substrate
frame-executive                            = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
frame-support                              = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
frame-system                               = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
frame-system-rpc-runtime-api               = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-authority-discovery                 = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-authorship                          = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-babe                                = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-collective                          = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-grandpa                             = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-im-online                           = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-membership                          = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-offences                            = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-proxy                               = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-randomness-collective-flip          = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-scheduler                           = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-session                             = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-sudo                                = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-timestamp                           = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-transaction-payment                 = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
pallet-transaction-payment-rpc-runtime-api = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-api                                     = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-application-crypto                      = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-authority-discovery                     = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-block-builder                           = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-consensus-babe                          = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-core                                    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-inherents                               = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-io                                      = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-offchain                                = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-runtime                                 = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-session                                 = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-staking                                 = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-std                                     = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-transaction-pool                        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-version                                 = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }

[build-dependencies]
# substrate
substrate-wasm-builder = { git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }

[features]
default = ["std"]
std     = [
	"codec/std",
	"serde",
	"darwinia-balances/std",
	"darwinia-balances-rpc-runtime-api/std",
	"darwinia-claims/std",
	"darwinia-crab-backing/std",
	"darwinia-crab-issuing/std",
	"darwinia-democracy/std",
	"darwinia-elections-phragmen/std",
	"darwinia-ethereum-backing/std",
	"darwinia-ethereum-relay/std",
	"darwinia-evm/std",
	"darwinia-evm-precompile-simple/std",
	"darwinia-header-mmr/std",
	"darwinia-header-mmr-rpc-runtime-api/std",
	"darwinia-relay-authorities/std",
	"darwinia-relay-primitives/std",
	"darwinia-relayer-game/std",
	"darwinia-staking/std",
	"darwinia-staking-rpc-runtime-api/std",
	"darwinia-support/std",
	"darwinia-treasury/std",
	"darwinia-tron-backing/std",
	"darwinia-vesting/std",
	"drml-primitives/std",
	"dvm-ethereum/std",
	"dvm-rpc-runtime-api/std",
	"ethereum-primitives/std",
	"frame-executive/std",
	"frame-support/std",
	"frame-system/std",
	"frame-system-rpc-runtime-api/std",
	"pallet-authority-discovery/std",
	"pallet-authorship/std",
	"pallet-babe/std",
	"pallet-collective/std",
	"pallet-grandpa/std",
	"pallet-im-online/std",
	"pallet-membership/std",
	"pallet-offences/std",
	"pallet-proxy/std",
	"pallet-randomness-collective-flip/std",
	"pallet-scheduler/std",
	"pallet-session/std",
	"pallet-sudo/std",
	"pallet-timestamp/std",
	"pallet-transaction-payment/std",
	"pallet-transaction-payment-rpc-runtime-api/std",
	"sp-api/std",
	"sp-application-crypto/std",
	"sp-authority-discovery/std",
	"sp-block-builder/std",
	"sp-consensus-babe/std",
	"sp-core/std",
	"sp-inherents/std",
	"sp-io/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-staking/std",
	"sp-std/std",
	"sp-transaction-pool/std",
	"sp-version/std",
]

with-tracing = ["frame-executive/with-tracing"]
