[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
build       = "build.rs"
description = "FRAME pallet to relay Ethereum headers"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-ethereum-relay"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.3.0"

[dependencies]
# crates
blake2-rfc = { version = "0.2.18", default-features = false }
codec      = { package = "parity-scale-codec", version = "1.3.5", default-features = false }
serde      = { version = "1.0.118", optional = true }
serde_json = { version = "1.0.61", optional = true }
# darwinia
array-bytes               = { default-features = false, path = "../../../../primitives/array-bytes" }
darwinia-relay-primitives = { default-features = false, path = "../../../../primitives/relay" }
darwinia-relayer-game     = { default-features = false, path = "../../../bridge/relayer-game" }
darwinia-support          = { default-features = false, path = "../../../support" }
ethereum-primitives       = { default-features = false, path = "../../../../primitives/ethereum-primitives" }
# github
ckb-merkle-mountain-range = { default-features = false, git = "https://github.com/darwinia-network/merkle-mountain-range.git" }
ethereum-types            = { default-features = false, git = "https://github.com/darwinia-network/parity-common.git" }
rlp                       = { default-features = false, git = "https://github.com/darwinia-network/parity-common.git" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", rev = "237874bb15bbac174b6cb8d594053b5512f32ca2" }
frame-system  = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", rev = "237874bb15bbac174b6cb8d594053b5512f32ca2" }
sp-core       = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", rev = "237874bb15bbac174b6cb8d594053b5512f32ca2" }
sp-runtime    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", rev = "237874bb15bbac174b6cb8d594053b5512f32ca2" }
sp-std        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", rev = "237874bb15bbac174b6cb8d594053b5512f32ca2" }

[dev-dependencies]
# darwinia
darwinia-balances   = { path = "../../../../frame/balances" }
ethereum-primitives = { features = ["deserialize"], path = "../../../../primitives/ethereum-primitives" }
# substrate
sp-core = { git = "https://github.com/darwinia-network/substrate.git", rev = "237874bb15bbac174b6cb8d594053b5512f32ca2" }
sp-io   = { git = "https://github.com/darwinia-network/substrate.git", rev = "237874bb15bbac174b6cb8d594053b5512f32ca2" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"github-std",
	"substrate-std",
]

crates-std    = [
	"blake2-rfc/std",
	"codec/std",
	"serde",
	"serde_json",
]
darwinia-std  = [
	"array-bytes/std",
	"darwinia-relayer-game/std",
	"darwinia-relay-primitives/std",
	"darwinia-support/std",
	"ethereum-primitives/std",
]
github-std    = [
	"ckb-merkle-mountain-range/std",
	"ethereum-types/std",
	"rlp/std",
]
substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-std/std",
]

deserialize = []
