# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner is
# not required for merging a PR though.
#
# **This is pretty much an experiment at the moment**. Feel free to remove yourself at any time if
# you do not want to receive review requests any longer.
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core` which
#   can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @AurevoirXavier) or email can be used. Keep in mind, that handles might work
#   better because they are more recognizable on GitHub, you can use them for mentioning unlike
#   an email.
# - The latest matching rule, if multiple, takes precedence.

/node/cli/ @AurevoirXavier
/node/primitives/ @AurevoirXavier
/node/rpc/ @AurevoirXavier
/node/runtime/pangolin/ @AsceticBear @AurevoirXavier
/node/runtime/pangoro/ @AurevoirXavier
/node/service/ @AurevoirXavier

/client/dvm/ @AsceticBear

/frame/balances/ @AurevoirXavier @HackFisher
/frame/balances/rpc/ @AurevoirXavier
/frame/balances/rpc/runtime-api/ @AurevoirXavier
/frame/bridge/ethereum/backing/ @AurevoirXavier @HackFisher
/frame/bridge/ethereum/issuing/ @xiaoch05
/frame/bridge/ethereum/relay/ @AurevoirXavier @HackFisher
/frame/bridge/relay-authorities/ @AurevoirXavier
/frame/bridge/relayer-game/ @AurevoirXavier
/frame/bridge/tron/backing/ @AurevoirXavier @HackFisher
/frame/claims/ @AurevoirXavier @HackFisher
/frame/democracy/ @AurevoirXavier
/frame/dvm/ @AsceticBear @AurevoirXavier @HackFisher
/frame/dvm/rpc/ @AsceticBear @AurevoirXavier
/frame/dvm/rpc/runtime-api/ @AsceticBear @AurevoirXavier
/frame/dvm-dynamic-fee/ @AsceticBear @AurevoirXavier @HackFisher
/frame/elections-phragmen/ @AurevoirXavier
/frame/evm/ @AsceticBear @HackFisher
/frame/evm/precompile/ @AsceticBear @HackFisher @xiaoch05
/frame/fee-market/ @AsceticBear @HackFisher
/frame/fee-market/rpc/ @AsceticBear
/frame/fee-market/rpc/runtime-api/ @AsceticBear
/frame/header-mmr/ @AurevoirXavier @HackFisher
/frame/staking/ @AurevoirXavier @HackFisher
/frame/staking/rpc/ @AurevoirXavier
/frame/staking/rpc/runtime-api/ @AurevoirXavier
/frame/support/ @AurevoirXavier @HackFisher
/frame/vesting/ @AurevoirXavier

/primitives/consensus/ @AsceticBear
/primitives/ethereum/ @AurevoirXavier @HackFisher
/primitives/evm/ @AsceticBear
/primitives/fee-market/ @AsceticBear
/primitives/merkle-patricia-trie/ @AurevoirXavier @HackFisher
/primitives/relay/ @AurevoirXavier
/primitives/rpc/ @AsceticBear
/primitives/storage/ @AsceticBear
