# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner is
# not required for merging a PR though.
#
# **This is pretty much an experiment at the moment**. Feel free to remove yourself at any time if
# you do not want to receive review requests any longer.
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core` which
#   can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @AurevoirXavier) or email can be used. Keep in mind, that handles might work
#   better because they are more recognizable on GitHub, you can use them for mentioning unlike
#   an email.
# - The latest matching rule, if multiple, takes precedence.

/bin/node-template/node/ @AurevoirXavier
/bin/node-template/runtime/ @AurevoirXavier

/client/cli/ @AurevoirXavier

/frame/balances/ @AurevoirXavier @HackFisher
/frame/balances/rpc/ @AurevoirXavier
/frame/balances/rpc/runtime-api/ @AurevoirXavier

/frame/bridge/eth/backing/ @AurevoirXavier @HackFisher
/frame/bridge/eth/linear-relay/ @AurevoirXavier @clearloop @HackFisher
/frame/bridge/eth/offchain/ @AurevoirXavier @yanganto
/frame/bridge/eth/relay/ @AurevoirXavier @HackFisher @yanganto

/frame/claims/ @AurevoirXavier @HackFisher

/frame/elections-phragmen/ @AurevoirXavier

/frame/header-mmr/ @HackFisher

/frame/staking/ @AurevoirXavier @HackFisher
/frame/staking/rpc/ @AurevoirXavier
/frame/staking/rpc/runtime-api/ @AurevoirXavier

/frame/support/ @AurevoirXavier @HackFisher

/frame/treasury/ @AurevoirXavier @clearloop @HackFisher

/primitives/array-bytes/ @AurevoirXavier
/primitives/eth-primitives/ @AurevoirXavier @HackFisher
/primitives/merkle-patricia-trie/ @HackFisher
