# Lists some code owners.
#
# A codeowner just oversees some part of the codebase. If an owned file is changed then the
# corresponding codeowner receives a review request. An approval of the codeowner is
# not required for merging a PR though.
#
# **This is pretty much an experiment at the moment**. Feel free to remove yourself at any time if
# you do not want to receive review requests any longer.
#
# For details about syntax, see:
# https://help.github.com/en/articles/about-code-owners
# But here are some important notes:
#
# - Glob syntax is git-like, e.g. `/core` means the core directory in the root, unlike `core` which
#   can be everywhere.
# - Multiple owners are supported.
# - Either handle (e.g, @AurevoirXavier) or email can be used. Keep in mind, that handles might work
#   better because they are more recognizable on GitHub, you can use them for mentioning unlike
#   an email.
# - The latest matching rule, if multiple, takes precedence.

/frame/balances/ @AurevoirXavier @HackFisher
/frame/balances/rpc/ @AurevoirXavier
/frame/balances/rpc/runtime-api/ @AurevoirXavier
/frame/beefy-gadget/ @AurevoirXavier
/frame/bridge/bsc/ @AurevoirXavier @xiaoch05
/frame/bridge/ethereum/ @AurevoirXavier @HackFisher
/frame/bridge/relay-authorities/ @AurevoirXavier
/frame/bridge/relayer-game/ @AurevoirXavier
/frame/dvm/ethereum/ @AsceticBear
/frame/dvm/evm/ @AsceticBear
/frame/header-mmr/ @AurevoirXavier @HackFisher
/frame/staking/ @AurevoirXavier @HackFisher
/frame/staking/rpc/ @AurevoirXavier
/frame/staking/rpc/runtime-api/ @AurevoirXavier
/frame/support/ @AurevoirXavier @HackFisher
/frame/transaction-pause/ @AurevoirXavier @HackFisher
/frame/backing/*/ @xiaoch05
/frame/issuing/*/ @xiaoch05

/node/*/ @AurevoirXavier
/node/*/*/ @AurevoirXavier

/primitives/asset/ @xiaoch05
/primitives/beefy/ @AurevoirXavier
/primitives/bsc/ @xiaoch05
/primitives/contract/ @AsceticBear @xiaoch05
/primitives/ethereum/ @AsceticBear
/primitives/evm-trace/ @AsceticBear
/primitives/merkle-patricia-trie/ @AurevoirXavier
/primitives/relay/ @AurevoirXavier
/primitives/s2s/ @AsceticBear @xiaoch05
