[package]
name = "darwinia-balances"
version = "0.5.0"
authors = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME pallet to manage RING"
edition = "2018"
license = "GPL-3.0"
homepage = "https://darwinia.network/"
repository = "https://github.com/darwinia-network/darwinia/"

[dependencies]
# crates
codec = { package = "parity-scale-codec", version = "1.3.0", default-features = false, features = ["derive"] }
serde = { version = "1.0.105", optional = true }
# darwinia
darwinia-support = { default-features = false, path = "../support" }
# substrate
frame-benchmarking = { optional = true, default-features = false, git = "https://github.com/yanganto/substrate.git", branch = "offchain-insert-key" }
frame-support = { default-features = false, git = "https://github.com/yanganto/substrate.git", branch = "offchain-insert-key" }
frame-system = { default-features = false, git = "https://github.com/yanganto/substrate.git", branch = "offchain-insert-key" }
sp-io = { default-features = false, git = "https://github.com/yanganto/substrate.git", branch = "offchain-insert-key" }
sp-runtime = { default-features = false, git = "https://github.com/yanganto/substrate.git", branch = "offchain-insert-key" }
sp-std = { default-features = false, git = "https://github.com/yanganto/substrate.git", branch = "offchain-insert-key" }

[dev-dependencies]
# substrate
pallet-transaction-payment = { git = "https://github.com/yanganto/substrate.git", branch = "offchain-insert-key" }
sp-core = { git = "https://github.com/yanganto/substrate.git", branch = "offchain-insert-key" }

[features]
default = ["std"]
runtime-benchmarks = ["frame-benchmarking"]
std = [
	# crates
	"codec/std",
	"serde",
	# darwinia
	"darwinia-support/std",
	# substrate
	"frame-benchmarking/std",
	"frame-support/std",
	"frame-system/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]
