[package]
name = "darwinia-balances"
version = "0.6.1"
authors = ["Darwinia Network <hello@darwinia.network>"]
description = "FRAME pallet to manage RING"
edition = "2018"
license = "GPL-3.0"
homepage = "https://darwinia.network/"
repository = "https://github.com/darwinia-network/darwinia-common/"

[dependencies]
# crates
codec = { package = "parity-scale-codec", version = "1.3.1", default-features = false }
serde = { version = "1.0.114", optional = true }
# darwinia
darwinia-balances-rpc-runtime-api = { default-features = false, path = "./rpc/runtime-api" }
darwinia-support = { default-features = false, path = "../support" }
# substrate
frame-benchmarking = { optional = true, default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }
frame-system = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }
sp-runtime = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }
sp-std = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }

[dev-dependencies]
# substrate
pallet-transaction-payment = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }
sp-core = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }
sp-io = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.3" }

[features]
default = ["std"]
runtime-benchmarks = ["frame-benchmarking"]
std = [
	# crates
	"codec/std",
	"serde",
	# darwinia
	"darwinia-balances-rpc-runtime-api/std",
	"darwinia-support/std",
	# substrate
	"frame-benchmarking/std",
	"frame-support/std",
	"frame-system/std",
	"sp-runtime/std",
	"sp-std/std",
]
