[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "ED25519 precompiles for EVM pallet."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-evm-precompile-ed25519"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.0.0"

[dependencies]
# crates
dp-evm          = { default-features = false, path = "../../../../../primitives/evm" }
ed25519-dalek   = { default-features = false, version = "1.0.0",  features = ["alloc", "u64_backend"] }
evm             = { default-features = false, version = "0.23.0", features = ["with-codec"] }
# substrate
sp-core = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }
sp-io   = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.2.1-darwinia" }

[features]
default = ["std"]

std = [
	"crates-std",
	"substrate-std",
]

crates-std = [
	"dp-evm/std",
	"ed25519-dalek/std",
	"evm/std",
]

substrate-std = [
	"sp-core/std",
	"sp-io/std",
]
