[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "ED25519 precompiles for EVM pallet."
edition     = "2021"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-evm-precompile-ed25519"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.7.1"

[dependencies]
# crates.io
ed25519-dalek = { version = "1.0", default-features = false, features = ["alloc", "u64_backend"] }
evm           = { version = "0.30", default-features = false, features = ["with-codec"] }
# darwinia-network
dp-evm = { default-features = false, path = "../../../../../primitives/evm" }
# paritytech
sp-core = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.8" }
sp-io   = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.8" }

[features]
default = ["std"]

std = [
	# crates.io
	"ed25519-dalek/std",
	"evm/std",
	# darwinia-network
	"dp-evm/std",
	# paritytech
	"sp-core/std",
	"sp-io/std",
]
