[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Simple precompiles for EVM pallet."
edition     = "2021"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-evm-precompile-simple"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.7.1"

[dependencies]
# crates.io
dp-evm    = { default-features = false, path = "../../../../../primitives/evm" }
evm       = { version = "0.30", default-features = false, features = ["with-codec"] }
ripemd160 = { version = "0.9", default-features = false }
# paritytech
sp-core = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.8" }
sp-io   = { default-features = false, git = "https://github.com/darwinia-network/substrate", branch = "darwinia-v0.11.8" }

[features]
default = ["std"]

std = [
	# crates.io
	"dp-evm/std",
	"evm/std",
	"ripemd160/std",
	# paritytech
	"sp-core/std",
	"sp-io/std",
]
