[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Simple precompiles for EVM pallet."
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-evm-precompile-simple"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "1.3.0"

[dependencies]
# crates
darwinia-evm-primitives = { default-features = false, path = "../../../../../primitives/evm" }
evm                     = { version = "0.22.0", default-features = false, features = ["with-codec"] }
ripemd160               = { version = "0.9", default-features = false }
# substrate
sp-core = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }
sp-io   = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "common-library-alpha" }

[features]
default = ["std"]

std = [
	"crates-std",
	"substrate-std",
]

crates-std = [
	"darwinia-evm-primitives/std",
	"evm/std",
	"ripemd160/std",
]

substrate-std = [
	"sp-core/std",
	"sp-io/std",
]
