[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Relayer Game Protocal Implementation"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-relayer-game"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.2.0"

[dependencies]
# crates
codec = { package = "parity-scale-codec", version = "2.0.1", default-features = false }
log   = { version = "0.4.14" }
serde = { version = "1.0.125", optional = true }
# darwinia
darwinia-relay-primitives = { default-features = false, path = "../../../primitives/relay" }
darwinia-support          = { default-features = false, path = "../../support" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }
frame-system  = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }
sp-runtime    = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }
sp-std        = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }

[dev-dependencies]
# crates
env_logger = { version = "0.8.3" }
# darwinia
darwinia-balances = { path = "../../balances" }
# substrate
sp-core = { git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }
sp-io   = { git = "https://github.com/darwinia-network/substrate.git", branch = "s2s" }

[features]
default = ["std"]

std = [
	"crates-std",
	"darwinia-std",
	"substrate-std",
]

crates-std    = [
	"codec/std",
	"serde",
]
darwinia-std  = [
	"darwinia-relay-primitives/std",
	"darwinia-support/std",
]
substrate-std = [
	"frame-support/std",
	"frame-system/std",
	"sp-runtime/std",
	"sp-std/std",
]
