[package]
name = "darwinia-relayer-game"
version = "0.6.1"
authors = ["Darwinia Network <hello@darwinia.network>"]
description = "Relayer game"
edition = "2018"
license = "GPL-3.0"
homepage = "https://darwinia.network/"
repository = "https://github.com/darwinia-network/darwinia/"

[dependencies]
# crates
codec = { package = "parity-scale-codec", version = "1.3.1", default-features = false }
serde = { version = "1.0.114", optional = true }
# darwinia
darwinia-support = { default-features = false, path = "../../support" }
ethereum-primitives = { default-features = false, path = "../../../primitives/ethereum-primitives" }
# substrate
frame-support = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.1" }
frame-system = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.1" }
sp-runtime = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.1" }
sp-std = { default-features = false, git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.1" }

[dev-dependencies]
# --- darwinia ---
darwinia-balances = { path = "../../balances" }
# --- substrate ---
sp-core = { git = "https://github.com/darwinia-network/substrate.git", tag = "v2.0.0-rc.darwinia.1" }

[features]
default = ["std"]
std = [
	# crates
	"codec/std",
	"serde",
	# darwinia
	"darwinia-support/std",
	# substrate
	"frame-support/std",
	"frame-system/std",
	"sp-runtime/std",
	"sp-std/std",
]
