name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build-release:
    name: Rustdoc
    runs-on: ubuntu-latest
    steps:
      - name: Fetch latest code
        uses: actions/checkout@v3
      - name: Install Rust nightly-2021-02-25 toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-02-25
          target: wasm32-unknown-unknown
          default: true
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --all --no-deps --locked
      - name: Install Node 16
        uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Install vercel
        run: npm i -g vercel
      - name: Deploy Rustdoc
        run: |
          mv vercel.json target/doc
          mv target/doc target/${GITHUB_REPOSITORY#*/}
          cd target/${GITHUB_REPOSITORY#*/}
          vercel --token ${{ secrets.VERCEL_TOKEN }} --scope itering link --confirm
          vercel --token ${{ secrets.VERCEL_TOKEN }} --scope itering deploy --prod
